*{
    font-family: 'Helvatica', sans-serif;
    margin:20; padding:5;
    box-sizing: border-box;
    outline: none; border:none;
    text-decoration: none;
    text-transform: capitalize;
    transition: .2s linear;
}
body{

background-color:lightgrey;
}
.navbar {
  overflow: hidden;
  background-color: #333;
}
.logo{
    height: 6rem;
}
.navbar a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    margin:0 5rem;
    font-size: 1.2rem;
    color:#fff;
    text-decoration: underline;
  
}
.hero{
	padding:10px;
	margin:13px;
	display:cover;
        width:100%;
}
